<!doctype html>
<html lang="us">
<head>
<meta charset="utf-8">
<meta property="og:title" content="Learning from Big Data">
<meta property="og:description" content="Machine learning with beauty and care.">
<meta property="og:image" content="/cube.png">
<meta property="og:image:secure_url" content="/static/cube.png">
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="250" />
<meta property="og:image:height" content="273" />
<meta property="og:url" content="/">
<title>Learning from Big Data</title>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link href="/static/jquery-ui.css" rel="stylesheet">
<script src="/static/jquery.js"></script>
<script src="/static/jquery-ui.js"></script>
<script id="MathJax-script" async src="static/MathJax/es5/tex-mml-chtml.js"></script>
<link href="/static/style.css" rel="stylesheet">
<script src="/static/script.js"></script>
<script>
  {% if session is defined and session.sid is defined and session.sid|length > 0 %}
    var sid = '{{ session.sid }}';
  {% else %}
    var sid = '';
  {% endif %}
</script>
</head>
<body>
  {% include 'header.html' %}
  <div style="background-color: #58525e;">
    <div class="header">
      <big>
        <center>
          <div name="topbar" class="topbar">
            {% if session is defined and session.sid is defined and session.sid|length > 0 %}
              <a href="/">Leaderboard</a> &nbsp;&nbsp;
              <a href="submit.html">Submissions</a> &nbsp;&nbsp;
              <a href="teams.html">Teams</a> &nbsp;&nbsp;
              Data &nbsp;&nbsp;
              <a href="javascript:logout();">Logout</a> &nbsp;&nbsp;
            {% else %}
              <a href="/">Leaderboard</a> &nbsp;&nbsp;
              Data &nbsp;&nbsp;
              <a href="signup.html">Signup</a> &nbsp;&nbsp;
              <a href="login.html">Login</a> &nbsp;&nbsp;
            {% endif %}
          </div>
        </center>
      </big>
      <span>&nbsp;
        <div class="top">
          <h1>
            <i>Module 1</i>
          </h1>
        </div>&nbsp;
      </span>
    </div>
    <div>
      <div style="right:0px; top:98px; position: absolute;">
        <div style="margin: 0px; border-left: 0px; position: static; right: 0px; border-right: 0px; border-bottom: 0px; border-style: solid; border-color: #58525e;">
	  <table>
            <tr>
              <td>
	        <div style="position:relative; top:10px; margin-top:25px; margin-left:20px;">
		  <i>
                    <big>
                      <span>
                      </span>
                    </big>
                  </i>
	        </div>
              </td>
              <td>
	        <img style="top:4px; left: -5px; position: relative;" src="static/cube.png" width=125>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="middle1">
      <span class="middle2">
        <div class="middle2" style="margin-top:30px;">
          <h2>
            Data
          </h2>

          <br>
          <div class="content">
            <p class="content">
              {% if session is defined and session.handle is defined and session.handle|length > 0  %}
                Hello, <i>{{ session.handle }}!</i><br><br>
              {% else %}
                Hello!
              {% endif %}
            </p>
          </div>
        </div>
      </span>
  </div>
  {% include 'footer.html' %}
</body>
</html>
