  <div class="footer">
    <span>&nbsp;
      <div class="bottom" style="bottom:2px; position:relative;">
        <i>
          Simon Fraser University acknowledges the unceded Traditional Coast Salish Lands including the Tsleil-Waututh (s&#601;l&#787;ilw&#787;&#601;ta&#660;&#620;), Kwikwetlem (k<sup><small><small>w</small></small></sup>ik<sup><small><small>w</small></small></sup>&#601;&#411;&#787;&#601;m), Squamish (S<u>k</u>w<u>x</u>w&uacute;7mesh &Uacute;xwumixw) and Musqueam (x<sup><small><small>w</small></small></sup>m&#601;&theta;k<sup><small><small>w</small></small></sup>&#601;y&#787;&#601;m) Nations.
        </i>
      </div>&nbsp;
    </span>
  </div></div><br>
