<!doctype html>
<html lang="us">
<head>
<meta charset="utf-8">
<meta property="og:title" content="Learning from Big Data">
<meta property="og:description" content="Machine learning with beauty and care.">
<meta property="og:image" content="/cube.png">
<meta property="og:image:secure_url" content="/static/cube.png">
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="250" />
<meta property="og:image:height" content="273" />
<meta property="og:url" content="/">
<title>Learning from Big Data</title>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link href="/static/jquery-ui.css" rel="stylesheet">
<script src="/static/jquery.js"></script>
<script src="/static/jquery-ui.js"></script>
<script id="MathJax-script" async src="static/MathJax/es5/tex-mml-chtml.js"></script>
<script src="/static/script.js"></script>
<script>
  {% if session is defined and session.sid is defined and session.sid|length > 0 %}
    var sid = '{{ session.sid }}';
  {% else %}
    var sid = '';
  {% endif %}
  {% if session is defined and session.team is defined and session.team|length > 0 %}
    var team = '{{ session.team }}';
  {% else %}
    var team = '';
  {% endif %}
  {% if session is defined and session.teammates is defined and session.teammates|length > 0 %}
    var teammates = '{{ session.teammates }}';
  {% else %}
    var teammates = '';
  {% endif %}
</script>
<link href="/static/style.css" rel="stylesheet">
</head>
<body>
  {% include 'header.html' %}
  <div style="background-color: #58525e;">
    <div class="header">
      <big>
        <center>
          <div class="topbar">
            <a href="index.html">Leaderboard</a> &nbsp;&nbsp;
            Submissions &nbsp;&nbsp;
            <a href="teams.html">Teams</a> &nbsp;&nbsp;
            <a href="data.html">Data</a> &nbsp;&nbsp;
            <a href="javascript:logout();">Logout</a> &nbsp;&nbsp;
          </div>
        </center>
      </big>
      <span>&nbsp;
        <div class="top">
          <h1>
            <i>Module 1</i>
          </h1>
        </div>&nbsp;
      </span>
    </div>
    <div>
      <div style="right:0px; top:98px; position: absolute;">
        <div style="margin: 0px; border-left: 0px; position: static; right: 0px; border-right: 0px; border-bottom: 0px; border-style: solid; border-color: #58525e;">
	  <table>
            <tr>
              <td>
	        <div style="position:relative; top:10px; margin-top:25px; margin-left:20px;">
		  <i>
                    <big>
                      <span name="tagline">
                      </span>
                    </big>
                  </i>
	        </div>
              </td>
              <td>
	        <img style="top:4px; left: -5px; position: relative;" src="static/cube.png" width=125>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="middle1">
      <span class="middle2">
        <div class="middle2" style="margin-top:30px;">
          <h2>
            Submissions
          </h2>

          <br>
          <div class="content">
<p class="content" name="content">
{% if session is defined and session.handle is defined and session.handle|length > 0  %}
Hello, <i>{{ session.handle }}!</i> Drag-and-drop a file below or click-and-browse to make a new submission.&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt>
<div id="droparea" class="waitdrop">
    +
</div>
<div style="white-space: normal;">
<br>Here are team <i>{{session.team}}&rsquo;s</i> previous submissions:
</div>
<br>
<div name="previous">
</div>
              {% else %}
                Hello!
              {% endif %}
            </p>
          </div>
        </div>
      </span>
  </div>
  {% include 'footer.html' %}
  <div class="footer">
</body>
<script src="/static/script.js"></script>
<script>
setup();


$(function() {
  if (sid == '') {
    window.location.replace('/');
  } else {

  }

  setup();

  $('html').on(
    'dragover', function(e) {
      e.preventDefault();
      e.stopPropagation();
    }
  );

  $('html').on(
    'dragenter', function(e) {
      e.preventDefault();
      e.stopPropagation();
    }
  );

  $('html').on(
    'drop', function(e) {
      e.preventDefault();
      e.stopPropagation();
    }
  );

  $('#droparea').on(
    'dragover',
    function(e) {
      e.preventDefault();
      e.stopPropagation();
    }
  )

  $('#droparea').on(
    'dragenter',
    function(e) {
      if (!working) {
        $('#droparea').removeClass();
        $('#droparea').addClass("hoverdrop") 
      }
      e.preventDefault();
      e.stopPropagation();
    }
  )

  $("#droparea").mouseenter(function(){
    if (!working) {
      $('#droparea').addClass("hovering") 
    }
  });

  $("#droparea").mouseleave(function(){
    if (!working) {
      $("#droparea").removeClass("hovering");
      $("#droparea").addClass("waitdrop");
    }
  });

  $('#droparea').on(
    'dragleave',
    function(e) {
      if (!working) {
        $("#droparea").removeClass("hoverdrop");
        $("#droparea").addClass("waitdrop");
      }
      e.preventDefault();
      e.stopPropagation();
    }
  )

  function check() {
    $.post({
      url: "submit.html",
      data: { },
      success: function(data, status) {
        $('div[name="previous"]').html(data["content"]);
        setTimeout(check, 5000);
      }
    });
  }

  check();

  $('#droparea').on(
      'drop',
      function(e){
        working = 1;
        $('img[name="parrot"]').attr('src', '/static/party.gif')
        e.preventDefault();
        e.stopPropagation();
        $("#droparea").removeClass();
        $("#droparea").addClass("working");
        if (e.originalEvent.dataTransfer.files.length > 1) {
          alert("Please upload one file.");
          return;
        } else if (e.originalEvent.dataTransfer.files.length == 0) {
          alert("error -2");
          return;
        } else if (!e.originalEvent.dataTransfer) {
           alert("error -3");
        } else {
          var fd = new FormData();
          var file = e.originalEvent.dataTransfer.files;
          fd.append('file', file[0]);
          $.ajax({
            url: "upload.html",
            type: "POST",
            data: fd,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: response => {
              setTimeout(function() {
                working = 0;
                $('img[name="parrot"]').attr('src', '/static/parrot.png')
                $("#droparea").removeClass();
                $("#droparea").addClass("waitdrop");
              }, 1000);
              
              return;
            }
          });
        }
      }
  );
});


</script>
</html>
