<!doctype html>
<html lang="us">
<head>
<meta charset="utf-8">
<meta property="og:title" content="Learning from Big Data">
<meta property="og:description" content="Machine learning with beauty and care.">
<meta property="og:image" content="/cube.png">
<meta property="og:image:secure_url" content="/static/cube.png">
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="250" />
<meta property="og:image:height" content="273" />
<meta property="og:url" content="/">
<title>Learning from Big Data</title>
<link href="/static/jquery-ui.css" rel="stylesheet">
<script src="/static/jquery.js"></script>
<script src="/static/jquery-ui.js"></script>
<script id="MathJax-script" async src="static/MathJax/es5/tex-mml-chtml.js"></script>
<script src="/static/script.js"></script>
<script>
  {% if session is defined and session.sid is defined and session.sid|length > 0 %}
    var sid = '{{ session.sid }}';
  {% else %}
    var sid = '';
  {% endif %}
  {% if session is defined and session.team is defined and session.team|length > 0 %}
    var team = '{{ session.team }}';
  {% else %}
    var team = '';
  {% endif %}
  {% if session is defined and session.teammates is defined and session.teammates|length > 0 %}
    var teammates = '{{ session.teammates }}';
  {% else %}
    var teammates = '';
  {% endif %}
</script>
<link href="/static/style.css" rel="stylesheet">
</head>
<body>
  <div style="background-color: black; width:100%; height:30px; float:left;">
    <a href="https://www.sfu.ca/">
      <img src="static/black.png" style="float:left; width:60px; margin-right:20px; border:0px;">
    </a>
  </div>
  <div style="background-color: #58525e;">
    <div class="header">
      <big>
        <center>
          <div style="line-height: 2.0; padding-top:15px; padding-left:15px; padding-right: 15px;">
            <a href="index.html">Leaderboard</a> &nbsp;&nbsp;
            <a href="submit.html">Submissions</a> &nbsp;&nbsp;
            Teams &nbsp;&nbsp;
            <a href="data.html">Data</a> &nbsp;&nbsp;
            <a href="javascript:logout();">Logout</a> &nbsp;&nbsp;
          </div>
        </center>
      </big>
      <span>&nbsp;
        <div class="top">
          <h1>
            <i>Module 1</i>
          </h1>
        </div>&nbsp;
      </span>
    </div>
    <div>
      <div style="right:0px; top:98px; position: absolute;">
        <div style="margin: 0px; border-left: 0px; position: static; right: 0px; border-right: 0px; border-bottom: 0px; border-style: solid; border-color: #58525e;">
	  <table>
            <tr>
              <td>
	        <div style="position:relative; top:10px; margin-top:25px; margin-left:20px;">
		  <i>
                    <big>
                      <span name="tagline">
                      </span>
                    </big>
                  </i>
	        </div>
              </td>
              <td>
	        <img style="top:4px; left: -5px; position: relative;" src="static/cube.png" width=125>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="middle1">
      <span class="middle2">
        <div class="middle2" style="margin-top:30px;">
          <h2>
            Teams
          </h2>

          <br>
          <div class="content">
            <p class="content" name="content">
            </p>
          </div>
        </div>
      </span>
  </div>
  <div class="footer" >
  <span>&nbsp;
    <div class="bottom" style="bottom:0px; position:relative;">
      <i>
        Simon Fraser University acknowledges the unceded Traditional Coast Salish Lands including the Tsleil-Waututh (s&#601;l&#787;ilw&#787;&#601;ta&#660;&#620;), Kwikwetlem (k&#695;ik&#695;&#601;&#411;&#787;&#601;m), Squamish (S&#7733;wx&#817;w&uacute;7mesh &Uacute;xwumixw) and Musqueam (x&#695;m&#601;&theta;k&#695;&#601;y&#787;&#601;m) Nations.
      </i>
    </div>&nbsp;
  </span>
</div>
</body>
<script src="/static/script.js"></script>
<script>
setup();
click = function(event) {
  $("button").attr("style", "color: #a9a9a9 !important; border-color: #a9a9a9 !important;");
  $('img[name="parrot"]').attr('src', '/static/party.gif')
  $("input").prop('disabled', true);
  $("input").click(function() { return false; });
  $("input").on("mousedown", function() { return false; });
  $("input").attr("style", "color: #a9a9a9 !important; border-color: #a9a9a9 !important; width: 50%;");
  if ($("button").html() == "Create") {
   setTimeout(function() {
    alert('creating');
     $.post({
       url:'teams.html',
       data: { handles: $('input[name="handles"]').val(), team: $('input[name="team"]').val(), action : "create" },
       success: function(data, status) {
          $('p[name="content"]').css({ 'opacity' : 0.0 });
          try {
            if (data.status == 1) {
              team = data.team;
              teammates = data.teammates;
              $('p[name="content"]').html('Hello, <i>{{ session.handle }}</i> ! You&rsquo;re in team <i>' + team + '</i> ! Here&rsquo;re the members of this team:<br><br><i>' + teammates + '</i> !<br><br>If this isn&rsquo;t right, you can dissolve the team and reform it&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><button>Dissolve</button>');
            } else if (data.status == -999) {
              window.location.replace('/');
            } else {
              $('p[name="content"]').html('<span class="error">' + data.message + ' Would you like to try again?</span>&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><input placeholder = "Team Name" name="team" style="width:50%;"></big><br><br><big><input placeholder = "Handle 1; Handle 2; Handle 3 ..." name="handles" style="width:90%;"></big><br><br><big><button>Create</button>');
            }

          } catch(error) {
            $('p[name="content"]').html('<span class="error">An error occurred. Would you like to try again?</span>&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><input placeholder = "Team Name" style="width:50%;" name="team"></big><br><br><big><input placeholder = "Handle 1; Handle 2; Handle 3 ..." name="handles" style="width:90%;"></big><br><br><big><button>Create</button>');
          }
          
          setup();
          $("button").on("click", click);
          $('p[name="content"]').css({ 'opacity' : 1.0 });
       }})}, 500);
  } else if ($("button").html() == "Dissolve") {
   setTimeout(function() {
    alert('dissolving');
     $.post({
       url:'teams.html',
       data: { action : "dissolve" },
       success: function(data, status) {
          $('p[name="content"]').css({ 'opacity' : 0.0 });
          try {
            if (data.status == 1) {
              team = "";
              teammates = "";
      $('p[name="content"]').html('Hello, <i>{{ session.handle }}</i> ! You currently aren&rsquo;t in a team. Would you like to create a team?&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><input name="team" placeholder = "Team Name" style="width:50%;"></big><br><br><big><input placeholder = "Handle 1; Handle 2; Handle 3 ..." style="width:90%;" name="handles"></big><br><br><big><button>Create</button>');
            } else if (data.status == -999) {
              window.location.replace('/');
            } else {
              $('p[name="content"]').html('<span id="error">An error occurred</span>. You&rsquo;re in team <i>' + team + '</i> ! Here&rsquo;re the members of this team:<br><br><i>' + teammates + '</i> !<br><br>If this isn&rsquo;t right, you can dissolve the team and reform it&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><button>Dissolve</button>');

            }

          } catch(error) {
              $('p[name="content"]').html('span id="error">An error occurred</span>. You&rsquo;re in team <i>' + team + '</i> ! Here&rsquo;re the members of this team:<br><br><i>' + teammates + '</i> !<br><br>If this isn&rsquo;t right, you can dissolve the team and reform it&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><button>Dissolve</button>');

          }
          
          setup();
          $("button").on("click", click);
          $('p[name="content"]').css({ 'opacity' : 1.0 });
       }})}, 500);
  } else {
    alert("Error! " + $("button").html());
  }
}

$(function() {
  if (sid == '') {
    window.location.replace('/');
  } else {
    if (team == '') {
      $('p[name="content"]').html('Hello, <i>{{ session.handle }}</i> ! You currently aren&rsquo;t in a team. Would you like to create a team?&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><input name="team" placeholder = "Team Name" style="width:50%;"></big><br><br><big><input placeholder = "Handle 1; Handle 2; Handle 3 ..." style="width:90%;" name="handles"></big><br><br><big><button>Create</button>');
    } else {
      $('p[name="content"]').html('Hello, <i>{{ session.handle }}</i> ! You&rsquo;re in team <i>' + team + '</i> ! Here&rsquo;re the members of this team:<br><br><i>' + teammates + '</i> !<br><br>If this isn&rsquo;t right, you can dissolve the team and reform it&nbsp;&nbsp;&mdash;<img name="parrot" style="top: 2pt; position: relative;" src="/static/parrot.png" border=0 width=24pt><br><br><big><button>Dissolve</button>');
    }
    $("button").on("click", click);
  }
  setup();
});
</script>
</html>
